.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.container span {
    text-transform: uppercase;
    display: block;
}
body {
    background-color: black;
    margin: 0;
}
.drawde {
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    animation-name: drawde;
    animation-duration: 3s;
}
@keyframes drawde {
    from {opacity: 0;}
    to {opacity: 100;}
}
.welcome{
    color: white;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 0px;
    position: relative;
    animation: text 3s 1;
}
@keyframes text {
    0% {
        opacity: 0;
        margin-bottom: -70px;
    }
}
.links {
    border-radius: 5px;
    text-decoration: none;
    color: white;
    filter: invert(100%);
    animation: text 3s 1;
}
@keyframes text {
    0% {
        opacity: 0;
    }
}
.calvert {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.calvert-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}
@media (min-aspect-ratio: 16/9) {
    .calvert-bg {
      width: 100%;
      height: auto;
    }
}
  
@media (max-aspect-ratio: 16/9) {
    .calvert-bg {
      width: auto;
      height: 100%;
    }
}
#github {
    opacity: 1;
    transition: 0.3s; 
}
#github:hover {
    opacity: .6
}
#steam {
    opacity: 1;
    transition: 0.3s; 
}
#steam:hover {
    opacity: .6
}
#twitter {
    opacity: 1;
    transition: 0.3s; 
}
#twitter:hover {
    opacity: .6
}
* {
    font-family: Arial;
}